<div class="map-view-card__container" >
  <div class="map-view-card__container__heading">
    <span class="map-view-card__container__heading__name"> {{submission.task}} </span>
    <app-status-handler class="map-view-card__container__heading__status" [status]="submission.status" />
  </div>
  <div class="map-view-card__container__description">
    <div class="map-view-card__container__description__submission-item">
      <span class="map-view-card__container__description__submission-item__key"> From : </span>
      <span class="map-view-card__container__description__submission-item__value"> {{submission.from}} </span>
    </div>
    <div class="map-view-card__container__description__submission-item">
      <span class="map-view-card__container__description__submission-item__key"> To : </span>
      <span class="map-view-card__container__description__submission-item__value"> {{submission.to}} </span>
    </div>

    <div class="map-view-card__container__description__submission-item">
      <span class="map-view-card__container__description__submission-item__key"> Due Date : </span>
      <span class="map-view-card__container__description__submission-item__value"> {{submission.dueDate}} </span>
    </div>

  </div>
</div>
