.map-view-card__container {
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #b8b9bc;
  border-radius: 4px;
  padding: 8px 16px;
  overflow: hidden;

  &__heading {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    &__name {
      grid-column: span 8;
      font-family: Roboto;
      font-weight: 700;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 0%;
      vertical-align: middle;
    }

    &__status {
      grid-column: span 4;
    }
  }

  &__description {
    &__submission-item {
      &__key {
        color: #b8b9bc;
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0%;
        vertical-align: middle;
      }
      &__value {
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: 0%;
        vertical-align: middle;
      }
    }
  }
  .past-due-date {
    color: red;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
  }
}

.map-view-card__container:hover {
  cursor: pointer;
  background: #f8f6f6;
  border: 2px solid rgb(99, 113, 231);
  border-radius: 4px;
  padding: 8px 16px;
  overflow: hidden;
}

@media (max-width: 1300px) {
  .map-view-card__container {
    grid-template-columns: repeat(12, 1fr);

    &__heading {
      &__name {
        grid-column: span 6;
      }
      &__status {
        grid-column: span 6;
      }
    }
  }
}

@media (max-width: 1000px) {
  .map-view-card__container {
    grid-template-columns: repeat(12, 1fr);

    &__heading {
      &__name {
        grid-column: span 12;
      }
      &__status {
        grid-column: span 12;
      }
    }
  }
}
