<div class="nav-bar">
  <div class="nav-bar__title">
    <span> {{ title }} </span>
  </div>
  <div class="nav-bar__items">
    <ul class="nav-bar__items__list">
      <li class="nav-bar__items__list__item">
        <a routerLink="/home" routerLinkActive="active"> Home </a>
      </li>
      <li class="nav-bar__items__list__item">
        <a routerLink="/forms" routerLinkActive="active"> Forms </a>
      </li>
      <li class="nav-bar__items__list__item">
        <a routerLink="/form-builder" routerLinkActive="active">
          Form Builder
        </a>
      </li>
    </ul>
  </div>
  <div class="nav-bar__actions">
    <span>option 1</span>
    <span>option 2</span>
  </div>
</div>
