<div class="actions-view-component">
  <div class="actions-view-component__left-options">
    <mat-form-field
      appearance="outline"
      class="actions-view-component__left-options__search-field"
    >
      <mat-icon matPrefix>search</mat-icon>
      <input (input)="onChangeSearch($event)" matInput placeholder="Search" />
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="actions-view-component__left-options__dropdown-form"
    >
      <mat-select placeholder="Select Form">
        <mat-option *ngFor="let form of forms" [value]="form">{{
          form
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="actions-view-component__left-options__dropdown-status"
    >
      <mat-select placeholder="Select Status" (selectionChange)="onChangeSelectStaus($event)">
        @for (item of statuses; track $index) {
        <mat-option [value]="item.status">{{ item.value }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      class="actions-view-component__left-options__date-picker"
    >
      <input (dateChange)="onChangeDate($event)" matInput [matDatepicker]="picker"  placeholder="Select Date" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>



  </div>
  <div class="actions-view-component__rigth-options">
    <mat-button-toggle-group
      class="actions-view-component__rigth-options__toggle-group"
      (change)="onToggleChange($event)"
    >
      <mat-button-toggle
        value="map"
        [class.mat-button-toggle-checked]="
          submissionService.typeOfView() === 'map'
        "
        >Map</mat-button-toggle
      >
      <mat-button-toggle
        value="list"
        [class.mat-button-toggle-checked]="
          submissionService.typeOfView() === 'list'
        "
        >List</mat-button-toggle
      >
    </mat-button-toggle-group>

    <button
      mat-button
      color="primary"
      class="actions-view-component__export-button"
    >
      <mat-icon>file_download</mat-icon> Export
    </button>
  </div>
</div>
