<app-nav-bar></app-nav-bar>
<div class="layout-component">
  <div class="layout-component__content" >
    <h1 class="layout-component__content__title">Submissions</h1>
    <div class="layout-component__content__actions-view-container">
      <app-actions-view></app-actions-view>
    </div>
    <div class="layout-component__content__render-content-container">
      @if (submissionService.typeOfView() === 'list') {
        <app-list-view></app-list-view>
      }@else {
        <app-map-view></app-map-view>
      }
    </div>
  </div>
</div>
