.submissions-table__container {
  margin-top: 30px;
  &__table {
    font-size: 1px;
    width: 100%;
    width: 1456;
    height: 480;
    top: 261px;
    left: 40px;
    border: 1px solid #ECECED;
    border-radius: 8px;
    border-width: 1px;
    box-shadow: 0px 2px 10px 0px #060C1B1A;
    background-color: white;
  }
}
// .table-container {
//   width: 100%;
//   background-color: aqua;
//   padding: 10px;
// }

// th {
//   background: blue;
//   font-weight: bold;
// }

// .due-date-alert {
//   color: red;
//   font-weight: bold;
// }

// mat-chip {
//   font-weight: bold;
//   padding: 5px 10px;
//   border-radius: 5px;
//   color: white;
// }
